.idea/
.vscode/
cmake-build-debug/
cmake-build-debug-event-trace/
deps/
*.dll
**/*/.exe
*.o
CMakeLists.txt
**/Input/c-wire_v25.dat
**/c-wire_v25.dat
**/**/c-wire_v25.dat
**/Input/c-wire_v00.dat
**/c-wire_v00.dat
**/**/c-wire_v00.dat
**/graph/*
musique.mp3
../musique.mp3